
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>和生活-畅享移动新生活,和生活</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="和生活,和生活首页,门户,和生活,wxcs,wxcs.cn,WXCS">
		<meta name="description" content="和生活品牌理念，和生活公测，和生活新版，和生活特色，无线城市更名为和生活，和生活活动">

		<link type="text/css" rel="stylesheet" href="/static/css/wxcs_v3.css">
		
		<!-- 工具类js -->

		<!-- dwr插件 -->
		<!-- 弹窗提示插件 -->
		<!-- ilife--js -->
		
		<style type="text/css">
			.error_img {
				width: 716px;
				height: 246px;
				margin: 0 auto;
				background: url(http://beijing.wxcs.cn/images/img404.png) no-repeat;
				margin-top: 5%;
			}
			
			.error_link {
				text-align: center;
				font: 16px "Microsoft YaHei";
				color: #888;
				margin-top: 20px;
			}
			
			.error_link a {
				margin: 0 15px;
				color: #555
			}
			
			.error_link a:hover {
				color: #7898ed
			}
		</style>

		<script type="text/javascript">
			setTimeout(function(){
				window.location.href = "/city.html";
			}, 3000);
		</script>
	</head>

	<body>
		<div>
			<div class="error_img" style="margin: 0px 450px auto"></div>
			<div class="error_link">
				<p>
					非白名单页面，请您移步<a href="/index.html" style="font-size: 16px;">首页</a>,<span id="last_time">3</span>秒之后自动返回至首页！
				</p>
			</div>
	
		</div>
	</body>
	
</html>
